In [38]:
import numpy as np
import pandas as pd
from pathlib import Path

import matplotlib.pyplot as plt
from collections import Counter
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.datasets import make_regression, make_swiss_roll
from sklearn.metrics import accuracy_score
from sklearn.utils.random import sample_without_replacement
from sklearn.utils import resample
from sklearn.metrics import confusion_matrix, classification_report

In [20]:
train_df = pd.read_csv(Path('Resources/Generator/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/Generator/2020Q1loans.csv'))

In [57]:
test_df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,target
0,40000.0,0.1033,856.40,RENT,128700.0,Source Verified,n,12.47,0.0,1.0,...,57.1,0.0,0.0,63915.0,49510.0,49400.0,14515.0,Y,N,low_risk
1,24450.0,0.1430,572.72,MORTGAGE,44574.0,Not Verified,n,15.05,0.0,1.0,...,0.0,0.0,0.0,136425.0,19439.0,15500.0,18925.0,N,N,low_risk
2,13500.0,0.1430,316.23,OWN,60000.0,Not Verified,n,28.72,0.0,0.0,...,0.0,0.0,0.0,82124.0,65000.0,5400.0,61724.0,Y,N,low_risk
3,10625.0,0.1774,268.31,RENT,60000.0,Verified,n,15.70,0.0,4.0,...,20.0,0.0,0.0,54855.0,50335.0,23200.0,26255.0,N,N,low_risk
4,6375.0,0.1862,232.46,RENT,60000.0,Source Verified,n,35.50,0.0,0.0,...,75.0,0.0,0.0,90445.0,56541.0,15300.0,72345.0,N,N,low_risk

In [58]:
pd.get_dummies(train_df)

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y,target_high_risk,target_low_risk
0,7000.0,0.1894,256.38,75000.0,28.62,0.0,2.0,20.0,0.0,40414.0,...,1,0,1,0,1,0,1,0,0,1
1,40000.0,0.1614,975.71,102000.0,11.72,2.0,0.0,10.0,0.0,43531.0,...,0,1,1,0,1,0,1,0,0,1
2,11000.0,0.2055,294.81,45000.0,37.25,1.0,3.0,23.0,0.0,8242.0,...,0,1,1,0,1,0,1,0,0,1
3,4000.0,0.1612,140.87,38000.0,42.89,1.0,0.0,7.0,0.0,12767.0,...,0,1,0,1,1,0,1,0,0,1
4,14000.0,0.1797,505.93,43000.0,22.16,1.0,0.0,22.0,0.0,11182.0,...,0,1,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,19975.0,0.2565,801.09,28000.0,28.42,0.0,0.0,15.0,0.0,9679.0,...,0,1,1,0,1,0,1,0,1,0
12176,15000.0,0.1774,540.34,50000.0,23.43,4.0,0.0,16.0,0.0,3193.0,...,0,1,1,0,1,0,1,0,1,0
12177,3600.0,0.1862,131.28,60000.0,28.80,0.0,1.0,14.0,0.0,11804.0,...,0,1,1,0,1,0,1,0,1,0
12178,15000.0,0.0881,475.68,62000.0,11.44,0.0,0.0,5.0,0.0,157.0,...,0,1,0,1,1,0,1,0,1,0
12179,15000.0,0.1774,540.34,54080.0,21.66,1.0,1.0,5.0,0.0,8349.0,...,1,0,1,0,1,0,1,0,1,0

In [22]:
# Convert categorical data to numeric and separate target feature for training data
X_2019 = pd.get_dummies(train_df.drop("target", axis=1))

#create target for 2019 data
y_2019 = train_df["target"]

In [23]:
X_2019.shape

(12180, 92)

In [24]:
print(pd.get_dummies(test_df))

      loan_amnt  int_rate  installment  annual_inc    dti  delinq_2yrs  \
0       40000.0    0.1033       856.40    128700.0  12.47          0.0
1       24450.0    0.1430       572.72     44574.0  15.05          0.0
2       13500.0    0.1430       316.23     60000.0  28.72          0.0
3       10625.0    0.1774       268.31     60000.0  15.70          0.0
4        6375.0    0.1862       232.46     60000.0  35.50          0.0
...         ...       ...          ...         ...    ...          ...
4697    30000.0    0.1240       673.42    140480.0  15.74          0.0
4698    24000.0    0.0756       747.22     50000.0  26.81          0.0
4699    10000.0    0.2305       387.36     33000.0  38.51          0.0
4700     8000.0    0.1862       205.86     38000.0  16.36          0.0
4701    30000.0    0.2055      1123.34    180000.0  12.06          0.0

      inq_last_6mths  open_acc  pub_rec  revol_bal  ...  pymnt_plan_n  \
0                1.0       8.0      0.0    38113.0  ...             1
1                1.0       6.0      0.0     1665.0  ...             1
2                0.0       8.0      0.0    13857.0  ...             1
3                4.0      17.0      0.0     6216.0  ...             1
4                0.0      13.0      0.0    12681.0  ...             1
...              ...       ...      ...        ...  ...           ...
4697             0.0      20.0      0.0    23215.0  ...             1
4698             0.0       9.0      0.0      459.0  ...             1
4699             2.0       7.0      0.0     6342.0  ...             1
4700             1.0       8.0      1.0    11636.0  ...             1
4701             0.0       8.0      0.0     4771.0  ...             1

      initial_list_status_f  initial_list_status_w  \
0                         0                      1
1                         0                      1
2                         0                      1
3                         0                      1
4                         0                      1
...                     ...                    ...
4697                      1                      0
4698                      0                      1
4699                      1                      0
4700                      0                      1
4701                      1                      0

      application_type_Individual  application_type_Joint App  \
0                               1                           0
1                               1                           0
2                               1                           0
3                               1                           0
4                               1                           0
...                           ...                         ...
4697                            1                           0
4698                            1                           0
4699                            1                           0
4700                            1                           0
4701                            1                           0

      hardship_flag_N  hardship_flag_Y  debt_settlement_flag_N  \
0                   0                1                       1
1                   1                0                       1
2                   0                1                       1
3                   1                0                       1
4                   1                0                       1
...               ...              ...                     ...
4697                1                0                       1
4698                1                0                       1
4699                1                0                       1
4700                1                0                       1
4701                1                0                       1

      target_high_risk  target_low_risk
0                    0                1
1                    0                1
2                    0                1
3                    0                1
4                    0                1
...                ...              ...
4697                 1                0
4698                 1                0
4699                 1                0
4700                 1                0
4701                 1                0

[4702 rows x 93 columns]

In [25]:
# Convert categorical data to numeric and separate target feature for testing data
X = pd.get_dummies(test_df.drop("target", axis=1))

#create target for 2020 data
y= test_df["target"]

In [26]:
# add missing dummy variables to testing set
def add_column(d, columns):
    new_column = set(columns)- set(d.columns)
    for i in new_column:
        d[i]=0
def new_added_columns(d, columns):
    add_column(d, columns)
    assert(set(columns)-set(d.columns)==set())
    d = d[columns]
    return d
X = new_added_columns(X, X_2019.columns)
X

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,40000.0,0.1033,856.40,128700.0,12.47,0.0,1.0,8.0,0.0,38113.0,...,0,1,0,1,1,0,0,1,1,0
1,24450.0,0.1430,572.72,44574.0,15.05,0.0,1.0,6.0,0.0,1665.0,...,0,1,0,1,1,0,1,0,1,0
2,13500.0,0.1430,316.23,60000.0,28.72,0.0,0.0,8.0,0.0,13857.0,...,0,1,0,1,1,0,0,1,1,0
3,10625.0,0.1774,268.31,60000.0,15.70,0.0,4.0,17.0,0.0,6216.0,...,1,1,0,1,1,0,1,0,1,0
4,6375.0,0.1862,232.46,60000.0,35.50,0.0,0.0,13.0,0.0,12681.0,...,0,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,30000.0,0.1240,673.42,140480.0,15.74,0.0,0.0,20.0,0.0,23215.0,...,0,1,1,0,1,0,1,0,1,0
4698,24000.0,0.0756,747.22,50000.0,26.81,0.0,0.0,9.0,0.0,459.0,...,0,1,0,1,1,0,1,0,1,0
4699,10000.0,0.2305,387.36,33000.0,38.51,0.0,2.0,7.0,0.0,6342.0,...,1,1,1,0,1,0,1,0,1,0
4700,8000.0,0.1862,205.86,38000.0,16.36,0.0,1.0,8.0,1.0,11636.0,...,0,1,0,1,1,0,1,0,1,0
4701,30000.0,0.2055,1123.34,180000.0,12.06,0.0,0.0,8.0,0.0,4771.0,...,0,1,1,0,1,0,1,0,1,0

In [27]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
count,4702.000000,4702.000000,4702.000000,4.702000e+03,4702.000000,4702.000000,4702.000000,4702.000000,4702.000000,4702.000000,...,4702.000000,4702.0,4702.000000,4702.000000,4702.000000,4702.000000,4702.000000,4702.000000,4702.0,4702.0
mean,16959.410889,0.148018,504.334028,8.986294e+04,23.033847,0.207571,0.686729,12.729902,0.108039,18313.320927,...,0.110379,1.0,0.066780,0.933220,0.881752,0.118248,0.981285,0.018715,1.0,0.0
std,10155.556866,0.058096,295.725642,1.253781e+05,21.336240,0.668909,0.897366,6.090486,0.314547,22514.741749,...,0.313394,0.0,0.249667,0.249667,0.322935,0.322935,0.135533,0.135533,0.0,0.0
min,1000.000000,0.064600,31.430000,1.000000e+02,0.260000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0
25%,9062.500000,0.103300,279.130000,5.200000e+04,14.800000,0.000000,0.000000,8.000000,0.000000,6658.250000,...,0.000000,1.0,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.0,0.0
50%,15000.000000,0.143000,446.010000,7.500000e+04,21.205000,0.000000,0.000000,12.000000,0.000000,12636.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.0,0.0
75%,24000.000000,0.186200,689.387500,1.050000e+05,28.220000,0.000000,1.000000,16.000000,0.000000,22439.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.0,0.0
max,40000.000000,0.288000,1604.180000,6.503700e+06,999.000000,9.000000,5.000000,57.000000,2.000000,512728.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,0.0

In [28]:
X.shape

(4702, 92)

In [31]:
X_2019_train, X_test, y_2019_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_test)

Counter({'high_risk': 580, 'low_risk': 596})

In [32]:
# Train the Logistic Regression model on the unscaled data and print the model score
classifier = LogisticRegression()
classifier

LogisticRegression()

In [33]:
classifier.fit(X_2019_train, y_2019_train)

C:\Users\HP\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [34]:
print(f'Predict:  {classifier.predict(X_test)}')

Predict:  ['high_risk' 'low_risk' 'high_risk' ... 'low_risk' 'low_risk' 'low_risk']

In [35]:
print(f"Training Data Score: {classifier.score(X_2019_train, y_2019_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8136698808848554
Testing Data Score: 0.814625850340136

In [36]:
print(f'Actual:\t\t{list(y_test[:10])}')
print(f'Predicted:\t{list(classifier.predict(X_test[:10]))}')

Actual:		['high_risk', 'high_risk', 'high_risk', 'high_risk', 'high_risk', 'high_risk', 'high_risk', 'low_risk', 'high_risk', 'high_risk']
Predicted:	['high_risk', 'low_risk', 'high_risk', 'high_risk', 'low_risk', 'high_risk', 'low_risk', 'low_risk', 'low_risk', 'low_risk']

In [39]:
y_true = y_test
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_true, y_pred)
cm

array([[409, 171],
       [ 47, 549]], dtype=int64)

In [40]:
tn, fp, fn, tp = cm.ravel()

In [41]:
tp

549

In [42]:
# Calculate the precision of the model based on the confusion matrix
precision = tp / (tp + fp)
precision

0.7625

In [43]:
# Calculate the sensitivity of the model based on the confusion matrix
sensitivity = tp / (tp + fn)
sensitivity

0.9211409395973155

In [44]:
f1 = 2*precision*sensitivity / (precision + sensitivity)
f1

0.8343465045592705

In [45]:
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

   high_risk       0.90      0.71      0.79       580
    low_risk       0.76      0.92      0.83       596

    accuracy                           0.81      1176
   macro avg       0.83      0.81      0.81      1176
weighted avg       0.83      0.81      0.81      1176

In [46]:
# Train a Random Forest Classifier model and print the model score
new_model = RandomForestClassifier(random_state=1, n_estimators=500)
new_model.fit(X_2019_train, y_2019_train)
print(f'Predict:  {new_model.predict(X_test)}')

Predict:  ['high_risk' 'low_risk' 'high_risk' ... 'low_risk' 'low_risk' 'low_risk']

In [47]:
print(f'Training Score: {new_model.score(X_2019_train, y_2019_train)}')
print(f'Testing Score: {new_model.score(X_test, y_test)}')

Training Score: 1.0
Testing Score: 0.8809523809523809

In [50]:
# Scale the data
scaler = StandardScaler().fit(X_2019_train)
X_train_scaled = scaler.transform(X_2019_train)
X_test_scaled = scaler.transform(X_test)

In [51]:
# Train the Logistic Regression model on the scaled data and print the model score
model = LogisticRegression()
model.fit(X_train_scaled, y_2019_train)
print(f'Predict:  {model.predict(X_test_scaled)}')

Predict:  ['high_risk' 'low_risk' 'high_risk' ... 'low_risk' 'low_risk' 'low_risk']

C:\Users\HP\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [52]:
print(f'Training Score: {model.score(X_train_scaled, y_2019_train)}')
print(f'Testing Score: {model.score(X_test_scaled, y_test)}')

Training Score: 0.8780487804878049
Testing Score: 0.8852040816326531

In [53]:
# Train a Random Forest Classifier model on the scaled data and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=500)
clf.fit(X_train_scaled, y_2019_train)
print(f'Predict:  {clf.predict(X_test_scaled)}')

Predict:  ['high_risk' 'low_risk' 'high_risk' ... 'low_risk' 'low_risk' 'low_risk']

In [54]:
print(f'Training Score: {clf.score(X_train_scaled, y_2019_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 1.0
Testing Score: 0.8818027210884354

In [55]:
print(classification_report(y_test, y_pred))
print(f'Training Score: {clf.score(X_train_scaled, y_2019_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

              precision    recall  f1-score   support

   high_risk       0.90      0.71      0.79       580
    low_risk       0.76      0.92      0.83       596

    accuracy                           0.81      1176
   macro avg       0.83      0.81      0.81      1176
weighted avg       0.83      0.81      0.81      1176

Training Score: 1.0
Testing Score: 0.8818027210884354

In [56]:
from sklearn.feature_selection import SelectFromModel
sel = SelectFromModel(clf)
sel.fit(X_train_scaled, y_2019_train)
sel.get_support()

array([ True,  True,  True, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])